
@{
    ViewBag.Title = "Index";
}

<h2>My Products</h2>

@Html.ActionLink("List of My Products", "MyProducts", "MyProducts");
@Html.ActionLink("Add Product", "MyProducts", "MyProducts");


