@model List<Homemade.Models.EntityModels.Category>

<ul class="nav nav-pills">
    @foreach (var category in Model)
    {
        <li class="active">
            <a href="#">category.Name</a>
        </li>
    }
</ul>