.container {
	
 ;
}

#header {
	background-color:
		     #fbc02d;
}
#header2 {
	background-color: 
	#4caf50;
}
.glyphicon {
	font-size: 30px;
	padding-top: 7px;
	color: #fafafa 
 ;
}
.register {
	font-size: 30px;
	color: #fafafa 
}
