@{
    ViewBag.Title = "Contact Us";
}

@section scripts
{
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWT6_p4OTU0KvAovb2Nrdrr0JvsPtoXl8&callback=initMap">
    </script>
    <script src="~/Content/Scripts/geolocation.js"></script>
}

@section styles
{
    <link rel="Stylesheet" href="@Href("~/Content/Styles/map.css")" />
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <span>
        Hello there!

        You can contact us at homemade@gmail.com or call us for more information at +359 888 11 22 33.
        Also on the map is showed where our office is located so you can come and visit us ! :)
        <br />
    </span>
</div>
<br />

<div id="map"></div>




