@{
    ViewBag.Title = "Contact Us";
}

@section scripts
{
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWT6_p4OTU0KvAovb2Nrdrr0JvsPtoXl8&callback=initMap">
    </script>
    <script src="~/Content/Scripts/geolocation.js"></script>
}

@section styles
{
    <link rel="Stylesheet" href="@Href("~/Content/Styles/map.css")" />
}

<div id="map"></div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


