@{
    ViewBag.Title = "Welcome!";
}

<br />
<div class="jumbotron">
    <br />
    <h1>Welcome to Homemade!</h1>
    <p class="lead">Homemade is a platform which provides homemade products.</p>
    <p><a href="#" class="btn btn-primary btn-lg btn-success">Shop Now &raquo;</a></p>
</div>
