<br />
<div class="jumbotron">
    <h1>Welcome to Homemade!</h1>
    <p class="lead">Homemade is a platform which provides the local producers to sell their homemade products.</p>
    <p><a href="#" class="btn btn-primary btn-lg btn-success">Shop Now &raquo;</a></p>
</div>
